/* screen - mob-xp */

.mob-xp {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 823px;
  width: 375px;
}

.mob-xp .overlap-group2 {
  height: 723px;
  margin-top: 100px;
  position: relative;
  width: 375px;
  z-index: 1;
}

.mob-xp .screenshot-2023-02-25-at-800-5 {
  height: 197px;
  left: 0;
  position: absolute;
  top: 526px;
  width: 375px;
}

.mob-xp .bg {
  height: 501px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.mob-xp .vector-46 {
  height: 10px;
  left: 0;
  position: absolute;
  top: 714px;
  width: 346px;
}

.mob-xp .screenshot-2023-02-07-at-936-3 {
  height: 231px;
  left: 60px;
  position: absolute;
  top: 129px;
  width: 240px;
}

.mob-xp .screenshot-2023-02-07-at-934-4 {
  height: 232px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 391px;
  width: 246px;
}

.mob-xp .screenshot-2023-02-07-at-935-6 {
  height: 69px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 654px;
  width: 240px;
}

.mob-xp .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--smalt);
  border-radius: 5px;
  display: flex;
  height: 27px;
  left: 60px;
  min-width: 266px;
  padding: 6.8px 7.8px;
  position: absolute;
  top: 70px;
}

.mob-xp .search-channel {
  -webkit-text-stroke: 0.2px var(--smalt);
  color: #7c7c7c;
  font-family: var(--font-family-courier-regular);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 11px;
  width: 183px;
}

.mob-xp .rectangle-40 {
  background-color: var(--white);
  height: 100px;
  left: 0;
  position: fixed;
  top: 0;
  width: 375px;
  z-index: 2;
}

.mob-xp .group-115 {
  flex-direction: column;
  gap: 13px;
  left: 19px;
  min-height: 811px;
  padding: 0 0.0px;
  position: fixed;
  top: -3px;
  width: 13px;
  z-index: 5;
}

.mob-xp .group-94 {
  flex-direction: column;
  gap: 13px;
  margin-left: 0;
  min-height: 579px;
  transform: rotate(-180.00deg);
  width: 13px;
}

.mob-xp .group-92 {
  flex-direction: column;
  min-height: 193px;
  width: 13px;
}

.mob-xp .ellipse-1 {
  background-color: var(--alto);
  border-radius: 6.75px;
  height: 13px;
  width: 13px;
}

.mob-xp .ellipse-1-1 {
  margin-top: 12px;
}

.mob-xp .ellipse-1-2 {
  margin-top: 13px;
}

.mob-xp .group-93 {
  flex-direction: column;
  margin-left: 0;
  min-height: 373px;
  width: 13px;
}

.mob-xp .connecting-the-lines {
  -webkit-text-stroke: 0.4px var(--smalt);
  color: var(--smalt);
  cursor: pointer;
  font-family: var(--font-family-courier-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 60px;
  letter-spacing: 0;
  line-height: 22px;
  position: fixed;
  top: 42px;
  width: 277px;
  z-index: 3;
}

.mob-xp .group-114 {
  height: 26px;
  left: 302px;
  min-width: 26px;
  position: fixed;
  top: 48px;
  z-index: 4;
}

.mob-xp .overlap-group1 {
  height: 26px;
  position: relative;
  width: 24px;
}

.mob-xp .ellipse-171 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--smalt);
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.mob-xp .fm {
  -webkit-text-stroke: 0.2px var(--smalt);
  color: var(--smalt);
  font-family: var(--font-family-courier-bold);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  left: 6px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 15px;
}

.mob-xp .group-117 {
  height: 24px;
  left: 336px;
  min-width: 24px;
  position: fixed;
  top: 689px;
  z-index: 6;
}

.mob-xp .group-120 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--smalt);
  border-radius: 12px;
  height: 24px;
  min-width: 24px;
  padding: 4.2px 5.5px;
}

.mob-xp .arrow-2 {
  height: 14px;
  width: 11px;
}

.mob-xp .ellipse-1-3 {
  background-color: var(--alto);
  border-radius: 6.75px;
  height: 13px;
  margin-left: 0;
  width: 13px;
}
